.pp-container {
    max-width: 650px;
}

.slider-max-width {
    width: 100%;
}

.jumbotron {
    margin-bottom: 0;
    margin-top: 1rem;

    padding: 2rem 1rem;
}

.sudoku-text-box {
    max-width: 55px;
    max-height: 45px;
    display: inline-block;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}