@model dynamic

<div class="container pp-container">
    <div class="text-center mt-3">
        <h2>Car</h2>
    </div>

    <div class="row text-center mt-lg-3">
        <div class="col">
            <h3>
                <b>
                    W samochodzie jest wiele skrytek.
                    Sprawdźmy, czy znasz je wszystkie.
                    Szczególnie tą jedną, w której ukryta jest flaga.
                </b>
            </h3>
        </div>
    </div>

    @Html.Partial("_TasksBack")

</div>