@model dynamic

<div class="container pp-container">
    <div class="text-center mt-3">
        <h2>Metro</h2>
    </div>

    <div class="row text-center mt-lg-3">
        <div class="col">
            <h3>
                <b>
                    Metro ogólnie jest spoko.
                    Ale stacja Stokłosy to już w ogóle.
                    Bo to jedyna stacja z flagą.
                </b>
            </h3>
        </div>
    </div>

    @Html.Partial("_TasksBack")
</div>