<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CaptureTheChris.Flags.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CaptureTheChris.Flags.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CaptureTheChris.Flags.Properties.Settings>
            <setting name="IsHangmanWon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsProjectEulerWon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSimonSaysWon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSudokuWon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsTriviaWon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFoosballWon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsGerritWon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsOrigamiWon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsCaveWon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsCarWon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsMetroWon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsCakeWon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsGuessNumberWon" serializeAs="String">
                <value>False</value>
            </setting>
        </CaptureTheChris.Flags.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CaptureTheChris.Flags.Properties.Settings>
            <setting name="IsEnigmaWon" serializeAs="String">
                <value>False</value>
            </setting>
        </CaptureTheChris.Flags.Properties.Settings>
    </applicationSettings>
</configuration>