@model dynamic

<div class="container pp-container">
    <div class="text-center mt-3">
        <h2>Gerrit</h2>
    </div>

    <div class="row text-center mt-lg-3">
        <div class="col">
            <h3>
                <b>Uważne Code Review pozwala znaleźć niejednego buga albo flagę.</b>
            </h3>
        </div>
    </div>

    @Html.Partial("_TasksBack")
</div>