@model dynamic

<div class="container pp-container">
    <div class="text-center mt-3">
        <h2>Man's Cave</h2>
    </div>

    <div class="row text-center mt-lg-3">
        <div class="col">
            <h3>
                <b>Szymon jest w posiadaniu jednej z flag. Przekonaj go aby Ci ją podarował.</b>
            </h3>
        </div>
    </div>

    @Html.Partial("_TasksBack")

</div>