@model dynamic

<div class="container pp-container">
<div class="text-center mt-3">
    <h2>Origami</h2>
</div>

<div class="row text-center mt-lg-3">
    <div class="col">
        <h3>
            <b>W kiblokuchni jest żuraw. A w nim flaga.</b>
        </h3>
    </div>
</div>

@Html.Partial("_TasksBack")
</div>