@model CaptureTheChris.Web.Models.EnigmaModel

<div class="container pp-container">

    <div id="enigma-game">
        @Html.Partial("_EnigmaGame")
    </div>

    @using (Ajax.BeginForm("Answer", "Enigma", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "enigma-game",
        AllowCache = true
    }, new {@class = "form", autocomplete = "off"}))
    {
        <div class="form-group">
            <div class="row">
                @for (int i = 0; i < 4; i++)
                {
                    <input type="button" class="col btn btn-outline-primary enigma-field" id="answer" name="answer">
                }
            </div>
            <label for="answer">Zgadnij cztery unikalne kolory.</label>
        </div>
        <div class="form-group">
            <input class="btn btn-outline-primary btn-lg btn-block" type="submit" value="Wyślij"/>
        </div>
    }
</div>